

body {
    height: 100vh;
}

header {
    height: 100px;
    background-color: #060606;
}



#jumbotron {
    background-image: url("./assets/slider82x-scaled.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
}

li {
    list-style-type: none;
    a {
        text-decoration: none;
    }
}