// HEADER 
header {
    @include center("vertical");
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 100px;
    background-color: #060606;
    ul {
        @include center;      
        .news {
            width: 40px;
            height: 25px;
            background-color: rgb(255,249,65);
            border-radius: 3px;
            font-size: 12px;
            @include center;
        }
        
    }
}

// JUMBOTRON 
#jumbotron {
    background-image: linear-gradient(to right, #060606 45%, transparent 75%), url("./assets/img/slider82x-scaled.jpg");
    position: relative;
    @include jumbo;
}

#mailing-list {
    @include jumbo;
    background-image: linear-gradient(to right, #060606 45%, transparent 75%), url("./assets/img/banner1-2x.jpg");

}

// FIRST QUOTE
#quote {
    position: relative;
    @include center;
    padding-top: 200px;
    height: 800px;
    background-image: linear-gradient(to top left, #bc042b, #6b0c7a, #4154fe);
    .container {
      width: 1070px;
      figure {
        @include center;
            img {
                width: 60px; 
            
            }
      }
    }
  }

// HERO 
#hero {
    position: relative; 
        .box {
            height: 750px;
            width: 800px;
            background-image: url("./assets/img/service15-2x.jpg");
            @include bg-image;
            position: absolute;
            top: -100px;
            @include borders;
        
        }
    
}


//  PLAYLIST 
#playlist {
    padding-top: 250px;

}

